:root {
  font-family: system-ui, Montserrat, Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #fafafa;
}

#root {
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
  width: 100%;
  height: 100dvh;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 26px;
  line-height: 1.1;
}

.border-delivery-company {
  border-left: 3px solid #c2c2ff;
}

.border-games-company {
  border-left: 3px solid #8686ff;
}

.border-market-company {
  border-left: 3px solid #e14165;
}
