.searchForm {
  max-width: 100vw;
  width: 100%;
  position: relative;

  .searchField {
    width: 100%;
    height: 45px;
    border: 1px solid #ebebeb;
    border-radius: 15px;
    padding-left: 25px;

    &::placeholder {
      color: #d1d1d1;
      font-size: 14px;
    }

    &:focus {
      outline: none;
      border-color: inherit;
    }
  }

  .results {
    color: #d1d1d1;
    font-size: 14px;
    position: absolute;
    text-wrap: nowrap;
    top: 28%;
    right: 15px;
  }

  .searchBtn {
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
    color: white;
    border: none;
    padding: 15px 10px;
    cursor: pointer;
  }
}
